@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased font-inter scroll-smooth;
  }
}

@layer components {
  .island-background {
    background-color: #020202;
  }
  .island {
    @apply island-background;
  }
  .island-pill-container {
    @apply flex justify-between items-center px-3 top-2 inset-x-0 mx-auto absolute z-30;
  }
  .island-pill-start,
  .island-pill-end {
    @apply h-full flex items-center gap-1 flex-shrink-0;
  }
  .island-full-container {
    @apply w-full flex flex-col px-5 pt-4 relative z-30 overflow-hidden flex-shrink-0 shadow-2xl shadow-zinc-900/20;
  }
  .island-capsule-container {
    @apply w-full flex flex-col px-4 pt-3 relative z-30 overflow-hidden;
  }
}
